Package: io.github.ddv.class-dump-ios
Name: class-dump-ios
Depends: 
Version: 1.0.1
Architecture: iphoneos-arm
Description: class-dump is a command-line utility for examining the Objective-C segment of Mach-O files. It generates declarations for the classes, categories and protocols.  This is the same information provided by using 'otool -ov', but presented as normal Objective-C declarations.
Maintainer: DreamDevLost
Author: DreamDevLost
Section: System
Tag: role::hacker
